.a {
  text-decoration: none;
}

.btn {
  width: 322px;
  height: 75px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  margin-left: 100px;
  margin-top: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #003399;
  transform: scale(1.3);
  margin-left: 150px;
  font-size: 32px;
  transition: all 0.6s ease;
}

.button_text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #003399;
  transition: color 0.3s ease;
}

.btn:hover .button_text {
  color: #ffffff;
}

.btn a {
  text-decoration: none;
  color: inherit;
}

.btn a:hover {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px){
  .btn {
    width: 220px;
    height: 60px;
    background: #ffffff;
    border-radius: 10px;
    border: none;
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .btn:hover {
    background: #003399;
    transform: scale(1.3);
    margin-left: 100px;
    font-size: 10px;
    transition: all 0.6s ease;
  }

  .button_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #003399;
    transition: color 0.3s ease;
  }

  .btn:hover .button_text {
    color: #ffffff;
  }

  .btn a {
    text-decoration: none;
    color: inherit;
  }

  .btn a:hover {
    text-decoration: none;
    color: inherit;
  }
}

@media (max-width: 480px){
  .btn {
    width: 180px;
    height: 60px;
    background: #ffffff;
    border-radius: 10px;
    border: none;
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .btn:hover {
    background: #003399;
    transform: scale(1.3);
    margin-left: 100px;
    font-size: 10px;
    transition: all 0.6s ease;
  }

  .button_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #003399;
    transition: color 0.3s ease;
  }

  .btn:hover .button_text {
    color: #ffffff;
  }

  .btn a {
    text-decoration: none;
    color: inherit;
  }

  .btn a:hover {
    text-decoration: none;
    color: inherit;
  }
}

@media (max-width: 390px){
  .btn {
    width: 150px;
    height: 60px;
    background: #ffffff;
    border-radius: 10px;
    border: none;
    margin-left: 0px;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .btn:hover {
    background: #003399;
    transform: scale(1.3);
    margin-left: 100px;
    font-size: 10px;
    transition: all 0.6s ease;
  }

  .button_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #003399;
    transition: color 0.3s ease;
  }

  .btn:hover .button_text {
    color: #ffffff;
  }

  .btn a {
    text-decoration: none;
    color: inherit;
  }

  .btn a:hover {
    text-decoration: none;
    color: inherit;
  }
}