.cardpop{
  width: 714px;
  height: 622px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  transition: all 0.4s ease;
}

.cardpop:hover {
  background-color: #003399;
  border-color: #003399;
}

.popul_icon{
  color: #003399;
  padding-top: 63px;
  padding-left: 28px;
  transition: all 0.4s ease;
}

.cardpop:hover .popul_icon {
  color: white;
  transform: translateY(-5px);
}

.popul_zagol{
  font-size: 48px;
  color: #003399;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-left: 28px;
  padding-top: 70px;
  transition: all 0.4s ease;
}

.cardpop:hover .popul_zagol {
  color: white;
  transform: translateY(-5px);
}

.popul_text{
  font-size: 30px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-top: 70px;
  margin-left: 28px;
  transition: all 0.4s ease;
}
.kyb:hover svg {
  filter: brightness(0) invert(1);
}
.cardpop:hover .popul_text {
  color: white;
  transform: translateY(-5px);
}
/* АДАПТАЦИЯ НА 480PX */
@media (max-width: 480px) {
  .cardpop {
    width: 180px;
    height: 160px;
    margin-left: -20px;

  }

  .popul_icon {
    padding-top: 10px;
    padding-left: 10px;
  }

  .popul_icon svg {
    width: 25px;
    height: 25px;
  }

  .popul_zagol {
    font-size: 16px;
    margin-left: 10px;
    padding-top: 5px;
  }

  .popul_text {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
  }
}

/* АДАПТАЦИЯ НА 390PX */
@media (max-width: 390px) {
  .cardpop {
    width: 160px;
    height: 140px;
  }

  .popul_icon svg {
    width: 20px;
    height: 20px;
  }

  .popul_zagol {
    font-size: 14px;
  }

  .popul_text {
    font-size: 11px;
  }
}
/* АДАПТАЦИЯ НА 768PX */
@media (max-width: 768px) {
  /* Родительский контейнер для карточек */
  .popul_cards, .popul_cards2 {
    margin-left: 100px; /* Отступ слева 50px */
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос */
    flex-direction: row; /* В ряд */
    gap: 15px;
    width: calc(100% - 50px);
  }

  /* Сама карточка */
  .cardpop {
    width: 250px; /* Уменьшаем еще сильнее для 2 в ряд */
    height: 220px;
  }

  /* Иконка - УМЕНЬШАЕМ */
  .popul_icon {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
  }

  /* Если иконка SVG */
  .popul_icon svg {
    width: 35px;
    height: 35px;
  }

  /* Заголовок - УМЕНЬШАЕМ */
  .popul_zagol {
    font-size: 20px;
    margin-left: 15px;
    padding-top: 8px;
  }

  /* Текст - УМЕНЬШАЕМ */
  .popul_text {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
    line-height: 1.3;
  }
}
