.card_min{
  width: 757px;
  height: 307px;
  border: black;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 500px;
}
.card_min_img{
  padding-left: 198px;
  margin-top: 41px;
}
.card_min_text{
  font-size: 24px;
  color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 52px;
}