.footer {
  width: 100%; /* Вместо 1920px, чтобы не было полосы прокрутки */
  background-color: #989898;
  margin-top: 100px;
  color: white;
  padding: 60px 0;
  font-family: 'Montserrat', sans-serif;
}

.footer_container {
  max-width: 1720px; /* Ограничиваем контент по ширине твоего сайта */
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* Раскидываем колонки по краям */
  align-items: flex-start;
  padding: 0 50px;
  box-sizing: border-box;
}

/* Колонки */
.foot_column {
  flex: 1;
}

/* Заголовки (Контакты, Адрес) */
.foot_title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}

.foot_info p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.4;
}

/* Блок с логотипом */
.logo_foot {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.logo_text_foot {
  font-size: 32px;
  font-weight: 600;
}

/* Соцсети */
.icon_foot {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon_foot svg {
  transition: transform 0.3s ease;
}

.icon_foot a:hover svg {
  transform: translateY(-5px); /* Легкий эффект при наведении */
}

/* ===== АДАПТИВ ===== */
@media (max-width: 1024px) {
  .footer_container {
    flex-direction: column; /* На планшетах и телефонах в одну колонку */
    gap: 40px;
    text-align: center;
  }

  .logo_foot, .icon_foot {
    justify-content: center;
  }

  .foot_title { font-size: 24px; }
  .foot_info p { font-size: 16px; }
}