// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
//@use 'components/card';
@use 'components/header';
@use 'components/str1';
@use 'components/button1';
@use 'components/preim_kybik';
@use 'components/blue_kyb';
@use 'components/card_minchif';
@use 'components/card_popul';
@use 'components/photo';
@use 'components/form';
@use 'components/footer';
@use 'components/card_catalog';
@use 'components/str2';



/* Подключение всех нужных начертаний Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
/* Утилитарные классы для шрифтов */
.font-regular {
  font-weight: 400;
  font-style: normal;
}

.font-medium {
  font-weight: 500;
  font-style: normal;
}

.font-semibold {
  font-weight: 600;
  font-style: normal;
}

.font-bold {
  font-weight: 700;
  font-style: normal;
}

.font-italic {
  font-style: italic;
  font-weight: 400;
}

.font-bold-italic {
  font-style: italic;
  font-weight: 700;
}