<!--<div class="block_form">-->
<!--    <div class="zavka">-->
<!--        <p>Оставить заявку</p>-->
<!--    </div>-->
<!--    <div class="form-group phone">-->
<!--        <input type="tel" id="phone" class="form-input" placeholder="Номер телефона">-->
<!--    </div>-->

<!--    <div class="form-group name">-->
<!--        <input type="text" id="name" class="form-input" placeholder="Имя">-->
<!--    </div>-->

<!--    &lt;!&ndash; Добавлен чекбокс согласия &ndash;&gt;-->
<!--    <div class="form-group checkbox-group">-->
<!--        <input type="checkbox" id="privacy" class="form-checkbox">-->
<!--        <label for="privacy" class="checkbox-label">-->
<!--            <span class="checkbox-custom">-->
<!--                &lt;!&ndash; SVG галочка &ndash;&gt;-->
<!--                <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.54993 14.0713L22.2516 0.481069C22.5749 0.160357 22.9522 0 23.3833 0C23.8144 0 24.1916 0.160357 24.515 0.481069C24.8383 0.801782 25 1.1829 25 1.62441C25 2.06592 24.8383 2.4465 24.515 2.76615L9.68163 17.5189C9.35829 17.8396 8.98106 18 8.54993 18C8.11881 18 7.74158 17.8396 7.41823 17.5189L0.46636 10.6236C0.143017 10.3029 -0.0121875 9.92232 0.000746175 9.48187C0.0136799 9.04143 0.182357 8.66031 0.506777 8.33853C0.831198 8.01675 1.21544 7.85639 1.6595 7.85746C2.10355 7.85853 2.48725 8.01889 2.8106 8.33853L8.54993 14.0713Z" fill="white"/></svg>-->

<!--            </span>-->
<!--            <span class="checkbox-text">я согласен с принятием конфиденциальности</span>-->
<!--        </label>-->
<!--    </div>-->

<!--    &lt;!&ndash; Кнопка отправки &ndash;&gt;-->
<!--    <button type="submit" class="submit-btn" id="submitBtn" disabled>-->
<!--        <span>Отправить</span>-->
<!--    </button>-->
<!--</div>-->