<div class="photo-carousel">
    <div class="carousel-container">
        <div class="carousel-slide">
            <img src="./assets/images/slide1.webp" alt="Фото 1" class="carousel-image">
        </div>
        <div class="carousel-slide">
            <img src="./assets/images/slide2.webp" alt="Фото 2" class="carousel-image">
        </div>
        <div class="carousel-slide">
            <img src="./assets/images/slide3.webp" alt="Фото 3" class="carousel-image">
        </div>
    </div>
</div>